<tr id="<%= item.id %>" >
  <td><%= item.name %> <%= item.user_id == current_user.id ? content_tag(:span, "tuyo",class: "label label-success") : nil %></td>
  <td><%= item.size %></td>
  <td><%= item.mime_type %></td>

  <td>
    <% if item.user_id == current_user.id %>
      <div class="btn-group">
        <% if category = item.category %>
          <button class="btn btn-warning btn-mini category-button"><%= category.name %></button>
        <% else %>
          <button class="btn btn-warning btn-mini category-button">Elegir</button>
        <% end %>
        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, '#', class: 'js-category-dropdown', data: {value: category.id} %></li>
          <% end %>
        </ul>
      </div>

    <% else %>
      <span class="label label-warning"><%= item.category.try(:name) %></span>
    <% end %>
  </td>

  <% mine = current_user.items.include?(item.id) %>
  <td><%= link_to "Copiar",  mine ? "#" : copy_item_path(item.id), class: "btn btn-mini btn-info",
        method: :post, remote: true, disabled: mine %></td>
</tr>
