<%= paginate items, remote: true  %>

<table class="table table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th></th>
      <th><%= t("views.items.name") %></th>
      <th><%= t("views.items.size") %></th>
      <th><%= t("views.items.type") %> </th>
      <th><%= t("views.items.category") %></th>
      <th colspan="2"><%= t("views.items.action") %></th>
    </tr>
  </thead>
  <tbody>
    <% if items.empty? %>
      <tr><td class="non-results" colspan="5"><h4>No se encontraron resultados</h4></td></tr>
    <% else %>
      <%= render items %>
    <% end %>
  </tbody>
</table>

<%= paginate items, remote: true  %>
