<%#= render :partial => "items", :object => @yours %>

<div class="btn-group pull-right">
  <%= link_to refresh_items_path, class: "btn btn-danger" do %>
    <i class="icon-refresh">&nbsp;&nbsp;</i><%= t("views.items.refresh") %>
  <% end %>

</div>

<%= form_tag items_path, method: :get, class: 'form-inline', remote: true do %>
  <div class="input-append">
    <%= text_field_tag :query, "", placeholder: "...", class: "span3", id: "search_field", size: "30", type: "text" %>
    <%= submit_tag t("views.items.search"), class: "btn btn-success" %>

  </div>
<% end %>

<div id="others">
  <%= render :partial => "items", :object => @others %>
</div>

