<%= link_to "Refresh", refresh_dropbox_path,  class: "btn btn-primary" %>
<%= link_to "Reset", reset_dropbox_path, class: "btn btn-danger", method: :delete %>


<table class="table">
  <caption>Todos los archivos de todas las cajas</caption>
  <thead>
    <tr>
      <th>Nombre  </th>
      <th>Tamaño  </th>
      <th>Tipo    </th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %> <%= item.user_id == current_user.id ? content_tag(:span, "tuyo",class: "label label-success") : nil %></td>
        <td><%= item.size %></td>
        <td><%= item.mime_type %></td>
        <td> <%#= link_to "Copiar a mi Caja",  mine ? "#" : copy_dropbox_path, class: "btn btn-mini btn-success",
              method: :post, remote: true, disabled: mine %>
         <%= link_to "Copiar a mi Caja", copy_dropbox_path(id: item.id), class: "btn btn-mini btn-success",
              method: :post, remote: true%></td>
      </tr>
    <% end %>
  </tbody>
</table>